<%
  customer_names = [
    "Maria Silva", "Carlos Mendes", "João Santos",
    "Ana Costa", "Aline K.", "Diego Z.",
    "Eduardo N.", "Thiago B."
  ]

  customer_moods = ["Confuso", "Frustrado", "Aguardando", "Nervoso", "Preocupado"]

  conversation_statuses = ["Ativa", "Pendente", "Resolvida"]
  conversation_priorities = ["Alta", "Média", "Baixa"]
%>

      <div class="conversations-page">
      <%= link_to dashboard_path, class: "back-link" do %>
      <i class="fa-solid fa-arrow-left-long"></i>
      <% end %>
  <h1 class="conversations-title">Todas as Conversas</h1>


  <% @conversations.each do |conversation| %>
    <div class="conversation-item">

      <!-- ESQUERDA -->
      <div class="conversation-left">
        <div class="conversation-avatar">
          <%= customer_names[conversation.id % customer_names.size].first %>
        </div>

        <div class="conversation-content">

          <!-- NOME + STATUS + PRIORIDADE -->
          <p class="conversation-name">
            <%= customer_names[conversation.id % customer_names.size] %>

           <span class="badge status <%= conversation_statuses[conversation.id % conversation_statuses. size].parameterize %>">
              <%= conversation_statuses[conversation.id % conversation_statuses.size] %>
            </span>


            <span class="badge priority <%= conversation_priorities[conversation.id % conversation_priorities.size].parameterize %>">
            <%= conversation_priorities[conversation.id % conversation_priorities.size] %>
            </span>


          <!-- CLASSIFICAÇÃO -->
          <p class="conversation-subtitle">
            <%= conversation.classification&.tag %>
          </p>

          <!-- PREVIEW -->
          <p class="conversation-preview">
            <%= conversation.content.to_s.lines.first
                  .gsub(/\[.*?\]:/, "")
                  .strip %>
          </p>

          <!-- ESTADO EMOCIONAL -->
         <span class="badge mood <%= customer_moods[conversation.id % customer_moods.size].parameterize%>">
              <%= customer_moods[conversation.id % customer_moods.size] %>
          </span>

        </div>
      </div>

      <!-- DIREITA (AÇÃO) -->
      <div class="conversation-right">
        <%= link_to conversation_path(conversation),
              class: "conversation-arrow" do %>
         <i class="fa-solid fa-arrow-right-long"></i>
        <% end %>
      </div>

    </div>
  <% end %>

</div>
