<!-- app/views/chats/show.html.erb -->
<h1><%= @chat.title %></h1>

<div id="messages">
  <% @chat.messages.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-light px-3 py-2 rounded-pill">
          <%= message.content %>
        </div>
      </div>
    <% else %>
      <div class="d-flex justify-content-start mb-4">
        <div class="px-3 py-2">
          <%= message.content %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_with model: [@chat, @message], local: true do |f| %>
  <%= f.text_area :content, placeholder: "Pergunte algo…" %>
  <%= f.submit "Enviar", class: "btn btn-primary" %>
<% end %>
