<div class="dashboard-page">
  <!-- Header simples do dashboard -->
  <header class="dashboard-header">
    <div>
      <h1 class="dashboard-header__title"></h1>
      <p class="dashboard-header__subtitle"></p>
    </div>

     <!-- <button class="dashboard-header__filter-button">
      Últimos 7 dias
    </button> OLD VERSION -->

    <!-- NEW VERSION -->
    <div class="dashboard-header__date-filter">
      <!-- <button class="dashboard-header__filter-button" id="dateFilterBtn">
        Últimos 7 dias
      </button> -->

      <div class="date-filter__dropdown" id="dateFilterDropdown">
        <button
          data-range="7d"
          class="<%= 'active' if @active_preset == :last_7_days %>">
          Últimos 7 dias
        </button>

        <button
          data-range="1m"
          class="<%= 'active' if @active_preset == :last_month %>">
          Último mês
        </button>

        <button
          data-range="3m"
          class="<%= 'active' if @active_preset == :last_quarter %>">
          Último quarter
        </button>
        <div class="date-filter__divider"></div>

        <div class="date-filter__custom">
          <label>
            Início
            <input
              type="date"
              id="startDate"
              value="<%= @start_date&.strftime('%Y-%m-%d') %>">
          </label>
          <label>
            Fim
            <input
              type="date"
              id="endDate"
              value="<%= @end_date&.strftime('%Y-%m-%d') %>">
          </label>
            <button
              id="applyCustomRange"
              class="apply-btn <%= 'active' if @custom_range_active %>">
              Aplicar
            </button>
        </div>
      </div>
    </div>
    <!-- NEW VERSION ENDS -->
    <%= javascript_include_tag "date_range_store", defer: true %>
    <%= javascript_include_tag "date_filter", defer: true %>
    <%= javascript_include_tag "dashboard", defer: true %>

  </header>

  <!-- CARDS KPI -->
  <section class="dashboard-kpi-grid">
    <!-- Questions & FAQ -->
    <article class="kpi-card kpi-card--questions">
      <div class="kpi-card__header">
        <div class="kpi-card__title">
          <i class="kpi-card__icon fa-solid fa-question"></i>
          Questions &amp; FAQ
        </div>
        <span class="kpi-card__pill kpi-card__pill--questions">42%</span>
      </div>

      <div class="kpi-card__body">
        <div>
          <!-- <p class="kpi-card__value">847</p> -->
          <p class="kpi-card__value"><%= @conversation_questions_count %></p>
          <p class="kpi-card__hint">conversations this period</p>
        </div>

        <div class="kpi-card__divider">
          <p class="kpi-card__section-label">Most common</p>
          <p class="kpi-card__section-value">How to reset password</p>
        </div>

        <%= link_to "View FAQ Conversations",
            conversations_path,
            class: "kpi-card__button kpi-card__button--questions" %>
      </div>
    </article>

    <!-- Complaints & Frictions -->
    <article class="kpi-card kpi-card--complaints">
      <div class="kpi-card__header">
        <div class="kpi-card__title">
          <i class="kpi-card__icon fa-solid fa-circle-exclamation"></i>
          Complaints &amp; Frictions
        </div>
        <span class="kpi-card__pill kpi-card__pill--complaints">31%</span>
      </div>

      <div class="kpi-card__body">
        <div>
          <!-- <p class="kpi-card__value">623</p> -->
          <p class="kpi-card__value"><%= @conversation_complaints_count %></p>
          <p class="kpi-card__hint">conversations this period</p>
        </div>

        <div class="kpi-card__divider">
          <p class="kpi-card__section-label">Top recurring</p>
          <p class="kpi-card__section-value">Late Delivery</p>
        </div>

        <%= link_to "Open 80/20 Analysis",
            classifications_path,
            class: "kpi-card__button kpi-card__button--complaints" %>

      </div>
    </article>

    <!-- Product Insights -->
    <article class="kpi-card kpi-card--product">
      <div class="kpi-card__header">
        <div class="kpi-card__title">
          <i class="kpi-card__icon fa-regular fa-lightbulb"></i>
          Product Insights
        </div>
        <span class="kpi-card__pill kpi-card__pill--product">27%</span>
      </div>

      <div class="kpi-card__body">
        <div>
          <!-- <p class="kpi-card__value">542</p> -->
          <p class="kpi-card__value"><%= @conversation_insights_count %></p>
          <p class="kpi-card__hint">conversations this period</p>
        </div>

        <div class="kpi-card__divider">
          <p class="kpi-card__section-label">Top feature request</p>
          <p class="kpi-card__section-value">Dark mode request</p>
        </div>

        <button class="kpi-card__button kpi-card__button--product">
          <%= link_to insight_list_conversations_path, class: "dashboard-item" do %>
          <i class="fa-solid fa-lightbulb"></i>
            <span>View Product Insights</span>
          <% end %>
        </button>
      </div>
    </article>
  </section>

<!-- GRÁFICO -->
<section class="panel">
  <div class="panel__header">
    <h2 class="panel__title">Conversation Trend</h2>
    <p class="panel__subtitle">
      From <%= @start_date.strftime('%d %b %Y') %>
      to <%= @end_date.strftime('%d %b %Y') %>
    </p>
  </div>

  <div
    class="panel__body"
    data-controller="weekly-conversation-chart"
    data-weekly-conversation-chart-series-value="<%= @chart_data.to_json %>"
  >
    <canvas data-weekly-conversation-chart-target="canvas"></canvas>
  </div>
</section>

</div>
